

<p id="notice"><%= notice %></p>

<h1>Hisse Senedi </h1>

<table>
  <thead>
    <tr>
      <th>Hisse Adi</th>
      <th>Hisse Kodu</th>
      <th>Hacimstr</th>
      <th>Hacim TL</th>
      <th>Son Fiyat(TL)</th>
      <th>Son Fiyat</th>
      <th>Rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.name %></td>
        <td><%= stock.hisse %></td>
        <td><%= stock.hacimstr %></td>
        <td><%= stock.hacim %></td>
        <td><%= stock.lastpricestr %></td>
        <td><%= stock.lastprice %></td>
        <td><%= stock.rate %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>


